.accesso{
    display: inline-block;
  }
  
  body {
    background-image: url('https://image.freepik.com/foto-gratis/bodegon-asientos-cine_23-2148202048.jpg');
    /*https://cdn.create.vista.com/api/media/small/534234542/stock-photo-concert-hall-cinema-hall-with*/
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  h1 {
    text-align: left;
    color: red;
    font-size: 300%;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .input-container {
    margin-top: 10%;
  }
  
  .email-g {
    padding-bottom: 10%;
  }
  
  .password {
    font-size: 125%;
    padding-top: 2%;
    padding-left: 2%;
  }
  
  .email {
    font-size: 125%;
  }
  
  .pulsante {
    margin-top: 10%;
    font-size: 125%;
  }
  
  .iscrizione {
    margin-top: 5%;
    font-size: 95%;
    text-align: right;
    color: chartreuse;
  }
  
  ::-webkit-input-placeholder { color: gray; font-style:italic; font-size: 110%;}
  ::-moz-input-placeholder { color: gray; font-style:italic; font-size: 110%;}
  ::-ms-input-placeholder { color: gray; font-style:italic; font-size: 110%;}